body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input[type="search"] {
  width: 100%;
  max-width: fit-content;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.logo {
  background-color: #333;
  color: #fff;
  margin: 0;
}

.logo pre {
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  font-size: 12px;
}

.logo a {
  text-decoration: none;
  /* Убирает подчеркивание */
  color: inherit;
  /* Наследует цвет текста от родительского элемента */
  cursor: pointer;
  /* Показывает курсор в виде указателя при наведении */
}

main {
  padding: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.software-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: fit-content;
}

.software-logo {
  max-width: 100px;
  height: auto;
}

.software-name {
  font-size: 20px;
  margin: 10px 0;
}

.software-version {
  font-size: 16px;
  margin: 0;
}

.software-tags {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.software-tags li {
  display: inline-block;
  margin-right: 10px;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 4px;
}

.software-os {
  font-size: 14px;
  margin: 0;
  color: #888;
}

.software-layout {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 20px;
}

.software-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.software-layout
.software-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;
}

.software-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.software-version {
  font-size: 18px;
  margin-bottom: 10px;
}

.software-description {
  margin-bottom: 20px;
}

.software-os {
  margin-bottom: 20px;
}

.install-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #0066cc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.install-button:hover {
  background-color: #0052b3;
}

.software-tags-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.software-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.software-tags li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}