/* Общие стили */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
}

.logo pre {
    margin: 0;
    font-size: 12px;
}

main {
    padding: 20px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
}

/* Стили для карточек программного обеспечения */
.software-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: fit-content;
}

.software-logo {
    max-width: 100px;
    height: auto;
}

.software-name {
    font-size: 20px;
    margin: 10px 0;
}

.software-version {
    font-size: 16px;
    margin: 0;
}

.software-tags {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.software-tags li {
    display: inline-block;
    margin-right: 10px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 4px;
}

.software-os {
    font-size: 14px;
    margin: 0;
    color: #888;
}

.software-layout {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
}