version: "3"
volumes:
  postgresdb-data:
services:
  server:
    build:
      context: .
      target: final
    ports:
      - 8080:8080
    depends_on:
      - database
    environment:
      - DATABASE_URL=${DATABASE_URL}
  database:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - type: volume
        source: postgresdb-data
        target: /var/lib/postgresql/data
  adminer:
    image: adminer:latest
    ports:
      - "5000:8080"
    depends_on:
      - database