<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width">
    <title>Softserv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>
    <header class="logo">
        <a href="/" class="logo">
            <pre class="logo">
   _____         ____ __  _____                   
  / ___/ ____   / __// /_/ ___/ ___   _____ _   __
  \__ \ / __ \ / /_ / __/\__ \ / _ \ / ___/| | / /
 ___/ // /_/ // __// /_ ___/ //  __// /    | |/ / 
/____/ \____//_/   \__//____/ \___//_/     |___/  
                                                  
            </pre>
        </a>
    </header>
    <main>
        {{> page}}
    </main>
    <footer>

    </footer>
</body>

</html>